/*---------------------------- - - - - - - Seccion uno - - - - - - --------------------------------*/
body{
    background-color: #ececec;
}

div{
    margin-top: 4px;
    margin-bottom: 4px;
   border: 1px solid black;
}

.Encabezado{
    text-align: center;
    margin: 50px,50px,50px,50px;
    background-image: linear-gradient(white,#ececec);
    /*background-color: white;*/
    color: green;
    border: 3px solid #ececec;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    
    width: 100%;
    height: 100px;
    margin: center;
    color: white; 
}
/*---------------------------- - - - - - - Seccion dos - - - - - - --------------------------------*/

.NdCF{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 550px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.txtFecha{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.Fecha{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.NuInstructores{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}
.InNumInst{
    text-align: center;
    width: 30px;
    height: 20px;
}

/*---------------------------- - - - - - - Seccion 3 - - - - - - --------------------------------*/

.NumRegInstructors{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 30px;
    height: 30px;
}
.AsigNumIns{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.RegInstructores{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 500px;
    height: 20px;

}

/*---------------------------- - - - - - - Seccion 4 - - - - - - --------------------------------*/
.ContenedorEjemVal{
    display: flex;
    width: 400px;
    height: 75px;
    margin: auto;
}
.EjVal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 100px;
    height: 65px;
    background-color: gray;
    border-radius: 5px;
}
.ejVal{
    text-align: center;
}
.EjAsocVal{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 80px;
    height: 30px;
}
/*---------------------------------------Recuadro informativo----------------------------------------------------*/
.RecInf{
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
.InfEvaluacion{
    text-align: center;
}
/*---------------------------------------Tabla de evaluacion intructores-----------------------------------------*/

.TabInst{

    border: 2px solid black;
    border-radius: 5px;
}


th{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 25px;
    background-color: rgb(124, 124, 124);
    border: 1px solid black;
    border-radius: 2px;
}
td{
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: white;
    
}
.N{
    border: 2px solid black;
    text-align: center;
    width: 35px;
    height: 35px;
}
.Npregunta{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(184, 184, 184);
}
.Ins{
    width: 40px;
    height: 30px;
}

.Ins:hover{
    background-color: rgb(202, 245, 209);
}

.DivSecEvaluacion{
}